body {
  font-family: 'Open Sans', sans-serif; }

.btn-solid {
  background: #3dd1ac;
  color: #fff;
  width: 8em;
  border: 1px solid #3dd1ac;
  border-radius: 2em;
  font-size: 0.8em;
  text-decoration: none; }
  .btn-solid:hover {
    opacity: 0.8;
    color: #fff; }

.navtrans {
  background: transparent; }

#landing {
  position: relative;
  background: url("../assets/wearable3.jpeg");
  background-repeat: no-repeat;
  background-size: 100%;
  transition: width 0.5s ease-in;
  height: 100vmin; }
  #landing .heading {
    position: relative;
    margin: auto;
    top: 40%;
    transform: translateY(-60%);
    color: #fff; }
    #landing .heading h1 {
      font-size: 2em; }
  @media (min-width: 768px) {
    #landing .heading {
      margin-left: 30%;
      padding: 0em 3em 0em 0em; }
      #landing .heading h1 {
        font-size: 3em; } }
  @media (min-width: 992px) {
    #landing .heading {
      margin-left: 50%;
      padding: 0em 5em 0em 0em; } }
  #landing nav {
    margin-top: 2em; }
  #landing input {
    background: #1b2024;
    color: #5c5f65;
    border: 0px;
    border-radius: 2em 0em 0em 2em;
    font-size: 0.8em; }
  #landing .input-group-addon {
    background: #1b2024;
    color: #c1c6cc;
    border: 0px;
    border-radius: 0em 2em 2em 0em; }
  #landing .navbar-form-top {
    margin-top: 0px; }
  #landing .btn-solid {
    background: #835fa9;
    border: 4px solid #835fa9; }

#intro {
  background: #835fa9;
  padding: 3em 0em 0em;
  color: #fff; }
  #intro img {
    position: relative;
    width: 15em; }
  #intro .introinline {
    display: inline-block;
    width: 45%; }
  #intro .topintro {
    vertical-align: top; }
  #intro .introimage {
    vertical-align: bottom;
    border: 0; }

#features {
  background: #f4f8fb;
  color: #A9ACB1;
  padding: 4em 0em; }
  #features h3 {
    color: #5c5f65; }
  #features p {
    color: #5c5f65;
    font-size: 0.9em;
    line-height: 1.8em; }
    #features p.tagline {
      color: #c4c6c9;
      font-size: 1.2em;
      font-weight: 300;
      padding: 0.7em 0em; }

#designhead {
  background: #232732;
  text-align: center;
  color: #5c5f65;
  padding: 3em 0em 0em 0em; }
  #designhead h3 {
    margin-bottom: 1.5em;
    color: #c1c6cc; }
  #designhead p {
    margin-bottom: 5em; }
  #designhead .img-container {
    border-top: 25px;
    border-bottom: 0px;
    border-right: 0px;
    border-left: 0px;
    border-style: solid;
    border-color: #1b2024;
    display: inline-block;
    margin-bottom: 0px; }

#designdetails {
  background: #2C303C;
  color: #c1c6cc;
  padding: 3em 0em; }
  #designdetails h4 {
    margin-bottom: 1em; }
    #designdetails h4 span {
      color: #5c5f65; }
  #designdetails p {
    line-height: 1.7em;
    color: #5c5f65;
    margin-bottom: 2em; }
  #designdetails i {
    display: block;
    font-size: 3em;
    color: #3dd1ac;
    margin-bottom: 1em; }

#quote {
  position: relative; }
  #quote img {
    width: 100%; }
  #quote .userquote {
    background: #835fa9;
    padding: 2em 4em;
    color: #cccccc; }
    #quote .userquote img {
      width: 5em; }
    #quote .userquote .name {
      margin-left: 1em; }
  @media (min-width: 768px) {
    #quote .userquote {
      position: absolute;
      top: 0;
      left: 0;
      width: 35em; }
      #quote .userquote .main {
        font-size: 2em;
        font-style: italic;
        font-weight: 300; } }

#footer {
  background: #1b2024;
  color: #5c5f65;
  padding: 3em 0em; }
  #footer a {
    color: #5c5f65;
    font-size: 0.9em;
    margin-right: 1em;
    text-decoration: none; }
    #footer a:hover {
      color: #fff; }
  #footer .foot {
    margin-bottom: 1.5em; }
  #footer h4 {
    font-weight: bold;
    font-size: 0.9em; }
  #footer p {
    font-size: 0.9em; }
  #footer span {
    background: #835fa9; }
  #footer i {
    color: #fff;
    font-size: 2em; }
  #footer .form-control {
    height: 3em;
    border: none;
    border-radius: 0px; }
  #footer span.input-group-addon {
    border-radius: 0px;
    border: none; }
  @media (min-width: 768px) {
    #footer a {
      display: block; } }

/*# sourceMappingURL=app.css.map */
