body {
    font-family: 'Open Sans', sans-serif;
}

.btn-solid {
    background: $button-bg;
    color: $light-font;
    width: 8em;
    border: 1px solid $button-bg;
    border-radius: 2em;
    font-size: 0.8em;
    text-decoration: none;
    &:hover {
        opacity: 0.8;
        color: $light-font;
    }
}

.navtrans {
    background: transparent;
}
