#demo {
    .col1 {
        position: relative;
        background: $light-bg;
        h4 {
            margin: 2em 1em;
        }
        p {
            margin: 1.5em;
            // padding-bottom: 4.5em;

        }
        div.comments {
            position: absolute;
            bottom: 1em;
            left: 1.5em;
            span.number {
                font-size: 1.5em;
                color: $dark-font;
            }
            span.commdesc {
                font-size: 0.7em;
            }
        }
    }
    .row1 {
        background: $dark-font;
    }
    h3 {
        color: darken($dark-font, 30%);
        i {
            font-size: 1.5em;
            color: $secondary-bg;
            margin-right: 0.3em;
        }
    }
    p {
        color: darken($dark-font, 30%);
        font-size: 0.9em;
        // line-height: 1.8em;
        padding-right: 2em;
        padding-bottom: 0.9em;
        &.tagline {
            color: lighten($dark-font, 10%);
            padding-right: 2em;
            font-size: 1.2em;
            font-weight: 300;
            padding: 0.7em 2em 0em 0em;
        }
    }
    img {
        width: 100%;
    }
    .imgcontain {
        padding-left: 0px;
        padding-right: 0px;
        // display: table-cell;

    }
    .userquote {
        background: $secondary-bg;
        padding: 1.6em 4em;
        width: 100%;
        color: darken($light-font, 20%);
        img {
            width: 5em;
        }
        .name {
            margin-left: 1em;
            color: darken($light-font, 20%);
        }
        .main {
            font-size: 2em;
            font-style: italic;
            font-weight: 300;
            color: darken($light-font, 20%);
            // padding: 1.6em 3em;
        }
    }
}
