    #footer {
        background: $darker-bg;
        color: darken($light-font, 50%);
        padding: 3em 0em;
        a {
            color: darken($light-font, 50%);
            font-size: 0.9em;
            margin-right: 1em;
            text-decoration: none;
            // border-right: 1px solid darken($light-font, 50%);
            &:hover {
                color: $light-font;
            }
        }
        .foot {
            margin-bottom: 1.5em;
        }
        h4 {
            font-weight: bold;
            font-size: 0.9em;
        }
        p {
            font-size: 0.9em;
        }
        span {
            background: $secondary-bg;
        }
        i {
            color: $light-font;
            font-size: 2em;
        }
        .form-control {
            height: 3em;
            border: none;
            border-radius: 0px;
        }
        span.input-group-addon {
            border-radius: 0px;
            border: none;
        }
        @media (min-width: 768px) {
            a {
                display: block;
            }
        }
    }
