#landing {
    position: relative;
    background: url("../assets/wearable3.jpeg");
    background-repeat: no-repeat;
    background-size: 100%;
    transition: width 0.5s ease-in;
    height: 100vmin;
    .heading {
        position: relative;
        margin: auto;
        top: 40%;
        transform: translateY(-60%);
        color: $light-font;
        h1 {
            font-size: 2em;
        }
    }
    @media (min-width: 768px) {
        .heading {
            margin-left: 30%;
            padding: 0em 3em 0em 0em;
            h1 {
                font-size: 3em;
            }
        }
    }
    @media (min-width: 992px) {
        .heading {
            margin-left: 50%;
            padding: 0em 5em 0em 0em;
        }
    }
    nav {
        margin-top: 2em;
    }
    input {
        background: $darker-bg;
        color: darken($dark-font, 30%);
        border: 0px;
        border-radius: 2em 0em 0em 2em;
        font-size: 0.8em;
    }
    .input-group-addon {
        background: $darker-bg;
        color: $lighter-font;
        border: 0px;
        border-radius: 0em 2em 2em 0em;
    }
    .navbar-form-top {
        margin-top: 0px;
    }
    .btn-solid {
        background: $secondary-bg;
        border: 4px solid $secondary-bg;
    }
    .logo {
        width: 6em;
    }
}
